Repository Orders-Dispatch-and-Go/mobile_app: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, format-js, format-qml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: ""
        entry: clang-format-20 -i
        language: python
        types_or: [c, c++]
        require_serial: false
        args: ["-style=file"]
        minimum_pre_commit_version: "2.9.2"

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        description: ""
        entry: clang-tidy-20 -p
        language: python
        types_or: [c++]
        require_serial: false
        args: ["build/"]
        minimum_pre_commit_version: "2.9.2"

  - repo: local
    hooks:
      - id: format-js
        name: Format JavaScript (biome)
        description: "Форматирование JS-файлов с помощью biome"
        entry: npm run format:js
        language: system
        pass_filenames: false
        types: [javascript]
        minimum_pre_commit_version: "2.9.2"

  - repo: local
    hooks:
      - id: format-qml
        name: Format QML
        description: "Форматирование QML-файлов с помощью qmlformat"
        entry: npm run format:qml
        language: system
        pass_filenames: false
        files: \.qml$
        minimum_pre_commit_version: "2.9.2"

fix formatting
  .gitignore
  Main.qml
  main.cpp
Due: clang-format, clang-tidy, format-qml

feat: добавил модель
  CMakeLists.txt
  main.cpp
  model/include/backend.hpp
  model/include/userinfo.hpp
  model/src/backend.cpp
  model/src/userinfo.cpp
  view/screens/LoginScreen.qml
Due: clang-format, clang-tidy, format-qml

блин забыл запушить, настроил проект, сборку, добавил глобальную тему, начал верстрать
  CMakeLists.txt
  Main.qml
  main.cpp
  model/include/theme_provider.hpp
  model/src/theme_provider.cpp
  view/screens/LoginScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: переключение экранов
  CMakeLists.txt
  Main.qml
  assets/ui/pass_hidden.svg
  assets/ui/pass_shown.svg
  model/include/auth/iauth.hpp
  model/include/auth/moc_auth.hpp
  model/include/auth/userinfo.hpp
  model/include/backend.hpp
  model/include/screens.hpp
  model/include/theme_provider.hpp
  model/src/auth/userinfo.cpp
  model/src/backend.cpp
  res.qrc
  test.sh
  view/components/Login/EmailField.qml
  view/components/Login/PasswordField.qml
  view/components/common/ActionButton.qml
  view/screens/LoginScreen.qml
Due: clang-format, clang-tidy, format-qml

Kirigami added
  CMakeLists.txt
  main.cpp
Due: clang-format, clang-tidy

feat: Main page
  CMakeLists.txt
  Main.qml
  view/components/Login/PasswordField.qml
  view/components/common/ActionButton.qml
  view/screens/MainScreen.qml
Due: format-qml

почти готов Profile
  CMakeLists.txt
  Main.qml
  main.cpp
  model/include/backend.hpp
  model/include/profile/iprofile.hpp
  model/include/profile/moc_profile.hpp
  model/src/backend.cpp
  model/src/theme_provider.cpp
  view/components/Orders/Order.qml
  view/screens/MainScreen.qml
  view/screens/ProfileScreen.qml
  view/screens/StockScreen.qml
  view/screens/WayScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: нормальный ProfileScreen
  model/include/auth/moc_auth.hpp
  model/include/backend.hpp
  view/screens/ProfileScreen.qml
Due: clang-format, clang-tidy, format-qml

ProfileScreen: done
  model/include/backend.hpp
  model/include/profile/iprofile.hpp
  model/include/profile/moc_profile.hpp
  model/src/backend.cpp
  view/screens/ProfileScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: выход
  model/include/backend.hpp
  model/src/backend.cpp
  view/screens/ProfileScreen.qml
Due: clang-format, clang-tidy, format-qml

пытаюсь добавить toolchain
  test.sh
Due: none

сделал нормальное меню
  CMakeLists.txt
  Main.qml
  main.cpp
  model/include/backend.hpp
  model/include/screens.hpp
  model/src/backend.cpp
  test.sh
  view/screens/LoadingScreen.qml
  view/screens/LoginScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: dto
  .clangd
  CMakeLists.txt
  Main.qml
  model/include/dto/order_dto.hpp
  model/include/dto/route_dto.hpp
  model/include/dto/station_dto.hpp
  model/include/route/icurrent_route.hpp
  model/include/route/moc_current_route.hpp
  model/src/route/moc_current_route.cpp
  view/components/Orders/Filter.qml
  view/components/Orders/Order.qml
  view/screens/WayScreen.qml
Due: clang-format, clang-tidy, format-qml

fix: переделал экраны
  CMakeLists.txt
  Main.qml
  model/include/screens.hpp
  view/components/Orders/Dimension.qml
  view/components/Orders/Sizes.qml
  view/screens/FinishOrderScreen.qml
  view/screens/FinishRouteScreen.qml
  view/screens/GetOrdersScreen.qml
  view/screens/LoadingScreen.qml
  view/screens/StartRouteScreen.qml
  view/screens/StockScreen.qml
  view/screens/WayScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: фильтр (пока нет точек)
  CMakeLists.txt
  Main.qml
  model/include/dto/order_dto.hpp
  model/include/dto/route_dto.hpp
  model/include/dto/station_dto.hpp
  model/include/screens.hpp
  model/src/backend.cpp
  view/components/Orders/Dimension.qml
  view/components/Orders/Filter.qml
  view/components/Orders/MinPrice.qml
  view/components/Orders/Order.qml
  view/components/Orders/Sizes.qml
  view/screens/FinishOrderScreen.qml
  view/screens/FinishRouteScreen.qml
  view/screens/GetOrdersScreen.qml
  view/screens/StartRouteScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: date
  CMakeLists.txt
  Main.qml
  view/components/Orders/Filter.qml
  view/components/Orders/RouteDate.qml
Due: format-qml

feat: add button address
  CMakeLists.txt
  view/components/Orders/AddressButton.qml
  view/components/Orders/Filter.qml
  view/components/Orders/MinPrice.qml
  view/components/Orders/RouteDate.qml
  view/screens/StartRouteScreen.qml
Due: format-qml

feat: map markers
  CMakeLists.txt
  Main.qml
  assets/marker_blue.png
  assets/marker_red.png
  model/include/screens.hpp
  res.qrc
  view/components/Map/Marker.qml
  view/components/Orders/Filter.qml
  view/screens/RouteScreen.qml
Due: clang-format, clang-tidy, format-qml

UI создание поездки готово, карта почти
  CMakeLists.txt
  Main.qml
  view/components/Map/Marker.qml
  view/components/Map/RouteDialog.qml
  view/components/Map/ZoomButton.qml
  view/components/Orders/AddressButton.qml
  view/components/Orders/Filter.qml
  view/screens/RouteScreen.qml
Due: format-qml

feat: pan
  view/components/Map/RouteDialog.qml
Due: format-qml

экран завершения заказа
  CMakeLists.txt
  Main.qml
  model/include/backend.hpp
  model/include/state.hpp
  test.sh
  view/screens/FinishOrderScreen.qml
Due: clang-format, clang-tidy, format-qml

Добавил авторизацию и модуль для http запросов
  CMakeLists.txt
  model/include/auth/auth.hpp
  model/include/auth/userinfo.hpp
  model/include/utils/http_client.hpp
  model/src/auth/auth.cpp
  model/src/auth/userinfo.cpp
  model/src/utils/http_client.cpp
Due: clang-format, clang-tidy

Добавил необходимую специализацию
  model/include/utils/http_client.hpp
  model/src/auth/auth.cpp
  model/src/utils/http_client.cpp
Due: clang-format, clang-tidy

finish route screen
  Main.qml
  view/screens/FinishRouteScreen.qml
Due: format-qml

Order.qml почти готов
  CMakeLists.txt
  Main.qml
  model/include/auth/auth.hpp
  model/include/backend.hpp
  model/include/dto/order_dto.hpp
  model/src/backend.cpp
  view/components/Orders/Order.qml
  view/components/Orders/RouteHighlight.qml
  view/components/Orders/ShowSizes.qml
  view/screens/GetOrdersScreen.qml
Due: clang-format, clang-tidy, format-qml

last page, yay
  CMakeLists.txt
  Main.qml
  view/components/Map/WayPoint.qml
  view/components/Orders/RouteHighlight.qml
  view/screens/GetOrdersScreen.qml
  view/screens/RouteScreen.qml
Due: format-qml

feat: layout finished
  CMakeLists.txt
  view/components/Orders/Order.qml
  view/components/Orders/OrderCard.qml
  view/components/Orders/OrderDialog.qml
  view/screens/GetOrdersScreen.qml
  view/screens/RouteScreen.qml
Due: format-qml

Add logout
  model/include/auth/auth.hpp
  model/include/utils/http_client.hpp
  model/src/auth/auth.cpp
  model/src/utils/http_client.cpp
Due: clang-format, clang-tidy

feat: add state_t logic
  .clang-tidy
  CMakeLists.txt
  Main.qml
  model/include/auth/auth.hpp
  model/include/backend.hpp
  model/include/state.hpp
  model/src/backend.cpp
  model/src/state.cpp
Due: clang-format, clang-tidy, format-qml

some fixes
  Main.qml
  model/include/backend.hpp
  model/include/state.hpp
  model/src/backend.cpp
  model/src/state.cpp
Due: clang-format, clang-tidy, format-qml

Add normal authentification
  CMakeLists.txt
  model/include/auth/auth.hpp
  model/include/auth/iauth.hpp
  model/include/auth/moc_auth.hpp
  model/include/auth/userinfo.hpp
  model/include/dto/user_dto.hpp
  model/include/utils/http_client.hpp
  model/include/utils/reply.hpp
  model/src/auth/auth.cpp
  model/src/auth/userinfo.cpp
  model/src/backend.cpp
  model/src/utils/http_client.cpp
Due: clang-format, clang-tidy

fix build
  model/src/backend.cpp
Due: clang-format, clang-tidy

login worked
  model/src/auth/auth.cpp
  model/src/auth/userinfo.cpp
  model/src/backend.cpp
Due: clang-format, clang-tidy

Add authentification header to queries
  model/include/auth/auth.hpp
  model/include/utils/http_client.hpp
  model/src/auth/auth.cpp
  model/src/backend.cpp
  model/src/utils/http_client.cpp
Due: clang-format, clang-tidy

add
  model/include/backend.hpp
  model/src/backend.cpp
  view/components/Login/PasswordField.qml
  view/screens/LoginScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: add current source
  model/src/state.cpp
  view/components/Map/RouteDialog.qml
Due: clang-format, clang-tidy, format-qml

fix: FinishRouteScreen.qml
  view/screens/FinishRouteScreen.qml
Due: format-qml

fix stat
  model/src/state.cpp
Due: clang-format, clang-tidy

Будников - червь-пидор
  model/include/dto/create_trip_dto.hpp
  model/include/dto/extended_station_dto.hpp
  model/include/dto/route_dto.hpp
  model/include/dto/station_dto.hpp
  model/include/dto/trip_dto.hpp
  model/include/route/icurrent_route.hpp
  model/include/route/moc_current_route.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/include/trip/routeinfo.hpp
  model/include/trip/tripinfo.hpp
  model/src/route/moc_current_route.cpp
  model/src/trip/current_trip.cpp
Due: clang-format, clang-tidy

rework auth
  model/include/auth/auth.hpp
  model/include/auth/iauth.hpp
  model/include/auth/userinfo.hpp
  model/include/backend.hpp
  model/include/dto/user_dto.hpp
  model/src/auth/auth.cpp
  model/src/auth/userinfo.cpp
  model/src/backend.cpp
Due: clang-format, clang-tidy
