Repository Orders-Dispatch-and-Go/mobile_app: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, format-js, format-qml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: ""
        entry: clang-format-20 -i
        language: python
        types_or: [c, c++]
        require_serial: false
        args: ["-style=file"]
        minimum_pre_commit_version: "2.9.2"

  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        description: ""
        entry: clang-tidy-20 -p
        language: python
        types_or: [c++]
        require_serial: false
        args: ["build/"]
        minimum_pre_commit_version: "2.9.2"

  - repo: local
    hooks:
      - id: format-js
        name: Format JavaScript (biome)
        description: "Форматирование JS-файлов с помощью biome"
        entry: npm run format:js
        language: system
        pass_filenames: false
        types: [javascript]
        minimum_pre_commit_version: "2.9.2"

  - repo: local
    hooks:
      - id: format-qml
        name: Format QML
        description: "Форматирование QML-файлов с помощью qmlformat"
        entry: npm run format:qml
        language: system
        pass_filenames: false
        files: \.qml$
        minimum_pre_commit_version: "2.9.2"

fix build
  CMakeLists.txt
  model/include/backend.hpp
  model/include/dto/abstract_dto.hpp
  model/include/dto/create_trip_dto.hpp
  model/include/dto/extended_station_dto.hpp
  model/include/dto/id_dto.hpp
  model/include/dto/order_dto.hpp
  model/include/dto/station_dto.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/trip/icurrent_trip.cpp
Due: clang-format, clang-tidy

feat: one http client
  model/include/auth/auth.hpp
  model/include/backend.hpp
  model/include/trip/current_trip.hpp
  model/include/utils/http_client.hpp
  model/src/auth/auth.cpp
  model/src/backend.cpp
  model/src/state.cpp
  model/src/trip/current_trip.cpp
  model/src/utils/http_client.cpp
  view/components/Map/RouteDialog.qml
Due: clang-format, clang-tidy, format-qml

feat: current trip arguments
  model/include/backend.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/src/auth/auth.cpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  view/components/Orders/AddressButton.qml
  view/components/Orders/Filter.qml
  view/screens/StartRouteScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: done create trip
  model/include/dto/create_trip_dto.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  view/components/Login/PasswordField.qml
  view/screens/LoginScreen.qml
Due: clang-format, clang-tidy, format-qml

rm user id
  model/include/dto/create_trip_dto.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/utils/http_client.cpp
  view/components/Map/RouteDialog.qml
Due: clang-format, clang-tidy, format-qml

feat: address.txt
  CMakeLists.txt
  address.txt
  backend_address.h.in
  model/src/auth/auth.cpp
  model/src/trip/current_trip.cpp
Due: clang-format, clang-tidy

clear old dtos, rework i_current_trip
  CMakeLists.txt
  model/include/dto/abstract_dto.hpp
  model/include/dto/add_trip_orders_dto.hpp
  model/include/dto/extended_station_dto.hpp
  model/include/dto/order_dto.hpp
  model/include/dto/route_dto.hpp
  model/include/dto/trip_dto.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/include/trip/moc_current_trip.hpp
  model/include/trip/tripinfo.hpp
  model/src/trip/current_trip.cpp
  model/src/trip/moc_current_trip.cpp
Due: clang-format, clang-tidy

moc
  CMakeLists.txt
  model/include/backend.hpp
  model/include/dto/order_dto.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/include/trip/moc_current_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/trip/moc_current_trip.cpp
  view/components/Orders/Order.qml
  view/components/Orders/OrderCard.qml
  view/screens/GetOrdersScreen.qml
Due: clang-format, clang-tidy, format-qml

moc choose orders
  model/include/backend.hpp
  model/include/trip/icurrent_trip.hpp
  model/src/backend.cpp
  view/components/Orders/Order.qml
  view/components/Orders/OrderCard.qml
  view/screens/GetOrdersScreen.qml
Due: clang-format, clang-tidy, format-qml

remove date from filter
  CMakeLists.txt
  model/include/backend.hpp
  model/include/dto/create_trip_dto.hpp
  model/include/dto/orders_list_dto.hpp
  model/include/trip/icurrent_trip.hpp
  model/include/trip/moc_current_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/trip/moc_current_trip.cpp
  view/components/Orders/Filter.qml
  view/screens/GetOrdersScreen.qml
  view/screens/StartRouteScreen.qml
Due: clang-format, clang-tidy, format-qml

feat: перевестал карточку
  model/src/trip/moc_current_trip.cpp
  view/components/Orders/Order.qml
  view/components/Orders/RouteHighlight.qml
  view/components/Orders/ShowSizes.qml
Due: clang-format, clang-tidy, format-qml

feat: показ пути
  model/include/backend.hpp
  model/src/backend.cpp
  model/src/trip/moc_current_trip.cpp
  view/components/Map/Marker.qml
  view/components/Map/WayPoint.qml
  view/screens/RouteScreen.qml
Due: clang-format, clang-tidy, format-qml

fix: order preview on map
  view/components/Orders/OrderDialog.qml
  view/screens/RouteScreen.qml
Due: format-qml

rename backend_t -> TBackend
  main.cpp
  model/include/backend.hpp
  model/include/screens.hpp
  model/include/state.hpp
  model/src/backend.cpp
  model/src/state.cpp
Due: clang-format, clang-tidy

feat: moc finished
  CMakeLists.txt
  Main.qml
  model/include/backend.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/include/trip/moc_current_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/trip/moc_current_trip.cpp
  view/components/Orders/FinishOrderDialog.qml
  view/components/Orders/Order.qml
  view/components/Orders/OrderDialog.qml
  view/screens/RouteScreen.qml
Due: clang-format, clang-tidy, format-qml

add status of entered code
  model/include/backend.hpp
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/include/trip/moc_current_trip.hpp
  model/include/utils/http_client.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/trip/moc_current_trip.cpp
  model/src/utils/http_client.cpp
  view/components/Orders/FinishOrderDialog.qml
  view/screens/FinishRouteScreen.qml
Due: clang-format, clang-tidy, format-qml

translate to russian
  Main.qml
  model/src/backend.cpp
  view/components/Orders/AddressButton.qml
  view/components/Orders/Dimension.qml
  view/components/Orders/FinishOrderDialog.qml
  view/components/Orders/MinPrice.qml
  view/components/Orders/Order.qml
  view/components/Orders/OrderCard.qml
  view/components/Orders/RouteDate.qml
  view/components/Orders/Sizes.qml
  view/screens/GetOrdersScreen.qml
  view/screens/LoginScreen.qml
  view/screens/ProfileScreen.qml
  view/screens/RouteScreen.qml
  view/screens/StartRouteScreen.qml
Due: clang-format, clang-tidy, format-qml

new dto
  Main.qml
  model/include/dto/order_dto.hpp
  model/include/dto/orders_list_dto.hpp
  model/include/trip/icurrent_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/trip/moc_current_trip.cpp
  view/components/Orders/Order.qml
  view/components/Orders/OrderCard.qml
  view/components/Orders/OrderDialog.qml
  view/components/Orders/RouteHighlight.qml
  view/components/Orders/ShowSizes.qml
  view/screens/GetOrdersScreen.qml
  view/screens/LoginScreen.qml
Due: clang-format, clang-tidy, format-qml

waypoints requests added, but not tested
  model/include/dto/orders_list_dto.hpp
  model/include/trip/icurrent_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
Due: clang-format, clang-tidy

done нахуй
  model/include/dto/orders_list_dto.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
  model/src/utils/http_client.cpp
Due: clang-format, clang-tidy

some frontend fixes
  view/components/Map/Marker.qml
  view/components/Map/RouteDialog.qml
  view/screens/RouteScreen.qml
Due: format-qml

some commit
  view/components/Orders/Order.qml
  view/screens/RouteScreen.qml
Due: format-qml

add finish route request
  model/include/trip/current_trip.hpp
  model/include/trip/icurrent_trip.hpp
  model/include/trip/moc_current_trip.hpp
  model/src/backend.cpp
  model/src/trip/current_trip.cpp
Due: clang-format, clang-tidy
